/node_modules/
/*.log
/log.txt
/store
/levelsdb
/data
/.data
/backups
/servers
/.env
/srcold
/testservers
# exclude everything
data/*
# exception to the rule
!data/.gitkeep 

# exclude everything
store/*
# exception to the rule
!store/.gitkeep 